<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Переводчик</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css"></link>
  </head>

  <body>
    <form id="form-div" action="{% url translate %}" method="post">
      {% csrf_token %}
      <textarea type="text" name="words" style="width:55%"/>{{words}}</textarea>
      <select name="lang" style="width:20%">
        {% for lang in all_langs %}
          <option value="{{lang.id}}"{% if lang.selected %}selected="selected"{% endif %}>{{lang.html_option}}</option>
        {% endfor %}
      </select>
      <input type="submit" name="find" value="Найти" style="width:20%"/>
    </form>
    <div id="results">
      <h3>Результаты перевода</h3>
      {% if not trans_data %}<b>Переводов не найдено</b>{% endif %}
      {% for trans_word, translations in trans_data %}
        <b>{{trans_word}}</b><br/>
        {% for trans in translations %}
          &nbsp;&nbsp;{{forloop.counter}})&nbsp;{{trans}}<br/>
        {% endfor %}
        {% if not forloop.last %}<br/>{% endif %}
      {% endfor %}
    </div>
  </body>
</html>
